<div class="row mr-auto">
    <div class="col-md">
        <h1> Edit Post </h1>


        <form action="/admin/posts/edit/{{post._id}}?_method=PUT" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title"> Title </label>
                <input name="title" type="text" class="form-control" value="{{post.title}}">
            </div>


            <div class="form-group">
                <label for="file"> File Upload </label>
                <input name="file" type="file" class="form-control" placeholder="Enter title">
            </div>

            <div class="form-group">
                <label for="status"> Category </label>
                <select class="form-control" name="category" id="status">
                    {{#select post.category}}
                    {{#each categories }}

                    <option value="{{_id}}">{{name}} </option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>


            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" name="status" id="status">
                    {{#select post.status}}
                    <option value="public">Public</option>
                    <option value="private">Private</option>
                    <option value="draft">Draft</option>
                    {{/select}}
                </select>
            </div>


            <label class="custom-control custom-checkbox">Allow Comments
                <input type="checkbox" name="allowComments" id="allowComments" {{#if post.allowComments}}
                    checked="checked" {{/if}} value="checkedValue" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description"></span>
            </label>

            <div class="form-group">
                <label for="body"> Body </label>
                <textarea name="body" cols="20" rows="10" type="text" id="body"
                    class="form-control">{{post.body}}</textarea>
            </div>

            <button type="submit" class="btn btn-dark"> Update Post </button>

        </form>
    </div>
</div>

